.ReservationList-layer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.ReservationList {
  position: absolute;
  border-radius: 12px;
  border-width: 9px;
  border-style: solid;
  width: 80%;
  height: 65%;
  text-align: center;
  background-color: white;
  bottom: 12%;
  left: 9%;
}

.ReservationList .title {
  margin: 2% 0;
}

.ReservationList .reservations {
  max-height: 78%;
  padding: 0 2%;
  overflow-y: auto;
}

.ReservationList .reservations table thead th {
  text-align: center;
}
