.Calendar {
  margin: 2%;
  text-align: center;
  max-height: 25rem;
  overflow-y: auto;
}

.Calendar table {
  width: 95%;
  border-collapse: collapse;
  border: 3px solid black;
}

.Calendar table thead {
  background-color: #95bddc;
  border-bottom: 3px solid black;
  color: white;
}

.Calendar table thead .thead-title th {
  top: 0;
  position: sticky;
  background-color: white;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  border-right: 1px solid black;
  padding: 5px;
  color: black;
  background-color: #c2d1e5;
}

.Calendar table .arrow-button {
  cursor: pointer;
  font-size: larger;
}

.Calendar table #left-arrow {
  text-align: left;
  padding-left: 2%;
}

.Calendar table #right-arrow {
  text-align: right;
  padding-right: 2%;
}

.Calendar table #month-year {
  text-align: center;
  padding: 1% 0;
}

.Calendar table .date-of-week {
  text-align: center;
  padding: 3%;
}

.Calendar table .reservation-time {
  text-align: left;
  padding-left: 1%;
}

.Calendar table .reservation-data {
  padding-bottom: 10%;
  padding-top: 10%;
}

.Calendar table .reservation-loading {
  margin: 2% 0;
}

.Calendar table .reservation-number {
  text-align: center;
  padding-right: 3%;
  font-size: large;
}

.Calendar table tbody th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}
