form .form-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  padding: 5%;
}

form .form-container .row {
  margin-bottom: 3%;
  text-align: left;
}

form .form-container .row label {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
  font-size: large;
  font-weight: bold;
}

form .form-container .row input,
select {
  padding: 3px;
}

form .form-container button {
  margin-top: 3%;
  height: 55%;
  font-size: medium;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  background-color: greenyellow;
}
